#map{
	height: 100vh;
}
.page-header{

}

.city-name, .zoom-text{
	text-decoration: underline;
	cursor: pointer;
	color:  blue;
}
body{
	font-family: sans-serif;
	font-size: 12px;
}

.city-name, .city-rank{
	vertical-align: middle;
}

.input-items{
	width: 200px;
	height: 30px;
    border-radius: 3px;
    margin-right: 5px;
}

.top-buttons{
	width: 150px;
}

.starting-location{
	margin: 5px 0 10px 5px;
}

#directionsPanel{
	float:left;
	width:30%;
	height: ; 100%;
}